.alertDangerWithIcon{
    display: flex;
    text-align: left;
    align-items: center;
    border-radius: 20px;
}


.alertDangerWithIconFlotante{
    position: absolute;
    left: 50%;
    top:70px;
    width:50%;
    display: flex;
    text-align: left;
    align-items: center;
    border-radius: 20px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}