.manta{
  height: 100%; 
  width: 100%; 
  background-color:rgba(50, 50, 50, 0.5); 
  position: absolute; 
  top: 0; 
  bottom:0;
  left:0; 
  right:0; 
  z-index: 3; 
  display:none;
}

/* Sirve solo para md, xl, xg */
.imgCentradaManta{
  width: 120px; 
  position:absolute; 
  top:50%; 
  right: 35%; 
  z-index:4;
}


.titleModal{
    border-radius: 5px;  
    -webkit-box-shadow: 6px 7px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 17px 0px rgba(0,0,0,0.75);
    padding-top:6px;
    padding-bottom: 6px;
  }

.titleGreen{
    background: linear-gradient(to top right, #3e9659 ,#51c174);
    color: white;
}