.error{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 8 auto;
    margin-top: 4px;
    color: #dc3545;
    font-size: 14px;
    

}

.error img{
    width: 19px;
    height: 19px;
    margin-top: 1px;
    margin-right: 3px;
}